*{
    margin: 0;
    padding: 0;
}
body{
    
}

@media only screen and (max-width:650px) and (min-width:200px){
    body{
        height: 100vh;
/*         background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);*/
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    
   .animated-icon1, .animated-icon2, .animated-icon3 {
       width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        }
    
.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #e65100;
}

.animated-icon2 span {
background: #e3f2fd;
}

.animated-icon3 span {
background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}
    .navbar-toggler{
        height: 49px;
/*        padding-top: 30px;*/
/*        margin-right: 7px;*/
    }
    .logo{
        margin-top: 5px;
        width: 80px;
/*        margin-left: ;*/
        height: auto;
}
    .cart{
        width: 40px;
        height: auto;
        margin-right: 5px;
    }
/*
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -20px;
        margin-top: 10px;
        
    }
    
    ul li{
        display: inline;
        margin-left: 10px;
        padding: 8px 4px 8px 4px;
        font-family: arial;
        
        
        
        border: 1px solid green;
        
    }
   a{
        text-decoration: none;
        color: #efe7eb;
        font-weight: 500;
        font-size: 14px;
    }
    */
    .hom{
/*        color:white !important;*/
    }
    li:hover{
    color: #3e0823;
/*    border: 1px solid #224860;*/
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        padding-left: 10px;
    }

    
    .offer-zone{
        background:url(banner01.jpg);
        background-position: center;
        background-size: cover;
       height: 50px;
        
    }
    .image-block{
        float:right;
        
    }
    .lady{
        width: 130px;
        height: auto;
        transform: scaleX(-1);
        margin-top: 18px;
        margin-right: 12px;

    }
    .content{
        padding-top:50px;
/*        padding-left: 10px;*/
    }
    .content p{
        margin-bottom: 8px;
        font-size: 16px;
        color: #A8CADA;
        line-height: normal;
        padding-left: 15px;
        margin-bottom: 0;
    }
    .content p .explore{
        font-size:35px;
        color: #378699;
        font-weight: 700;
        margin-right: 3px;
    }
    .btn1{
    border-radius:25px;
    padding: 12px;
    border: none;
    background-color: #E54818;
    color: white;
    font-size: 15px;
        margin-left: 15px;
        margin-top: 6px;
    }
    .btn1:hover{
         background-color: #FF5519;
        color: #ffd2ac;
/*        font-weight: 700;*/
    }
}
.container-block {
    background:url(blue%20background.jpg);
     background-position: center;
    background-size: cover;
    height: 223px;
    box-sizing: border-box;
    position: relative;
}
.offer-section{
    height: 150px;
}
.main {
    display: flex;
    width: 100%;
}

.left {
    width: 50%;
/*    height: 130px;*/
    background-color: brown;
}
.flat-offer{
    width: 100%;
    height: 130px;
}

.right {
    width: 50%;
/*    height: 150px;*/
    box-sizing: border-box;
}
.amazon-offer{
    width: 100%;
    height: 130px;
/*    margin-right: 50px;*/
    
}

.offer-logo {
    top: -13px;
    left: 0;
    position: absolute;
    width: 80px;
    height: auto;
}
/*
.ladybg img:nth-child(2),img:nth-child(3),img:nth-child(4){
    height: 100px;
    background-size: cover;
    background-position: center;
}
*/
.categories{
    width: 100%;
    height: 290px;
/*    background-color: firebrick;*/
    
/*    position: relative;*/
    
}
.text-center{
padding-top: 9px;
margin-bottom: 11px;
font-weight: 800;
}
.col{
    width:40% !important;
    background-color: white;
    margin-left: 7px;
    margin-right: 5px;
    height:230px;
    padding: 0 !important;
}
.first-col {
    background: url("categories/359539-1803840.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
 h6{
    position: absolute !important;
    bottom: 0;
    left: 0;
     text-align: center !important;
/*    margin-left: 5px;*/
    width:100%;
    background-color: #242424;
    color:#bababa;
    padding:4px 7px 4px 7px;
    margin-bottom: 0 !important;
}

.second-col {
    background: url("categories/light-green-checked-full-sleeve-shirt.jpg");
    background-position: center;
    background-size: cover;
}
.third-col{
     background: url("categories/femal%20hoodie.jpg");
    background-position: center;
    background-size: cover;
}
.fourth-col{
     background: url("categories/polo%20%20tshirt.jpg");
    background-position: center;
    background-size: cover;
}
.fifth-col{
     background: url("categories/joggers.jpg");
    background-position: center;
    background-size: cover;
}
.sixth-col{
     background: url("categories/boxers.jpg");
    background-position: bottom;
    background-size: cover;
}
.sales-offer{
    margin-top: 20px;
    width: 100%;
    
    
    
}
.sale {
    width: 100%;
    height: 250px !important;
   
}
.btn-dark{
    right: 8px;
    bottom: 5px;
}
footer{
    background-color: #262626;
    width: 100%;
    color: white;
    height: 300px;
    position: relative;
    margin-top: 10px;
   
}


.developer-img {
    background: url("para1.jpg");
    background-position: center;
    background-size: cover;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 15px;
    position: absolute;
    top: 23px;
    left: 5px;
}

.develop-col {
    
    position: relative;
    height: 120px;
}
.develop{
    border-right: 1px solid white;
}
h7{
    border: 1px solid white;
    padding: 0;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 15px;
    right: 49px;
    color: #fffefe !important;
    
}
.develop-txt{
    color: #a7a6a6 !important;
    position: absolute;
    top: 55px;
    font-size: 12px;
    right: 9px;
    
}
.our-services h11 {
/*    text-decoration: underline;*/
    font-size: 12px;
}
.our-services ul {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 10px;
    color:  #a7a6a6;
}
h1{
    color:white !important;
}
.ml-4{
    font-weight: 700;
}
.img{
    margin-left: 20px;
    width: 80%;
}
.playstore{
    display:flex;
}
.img{
    padding: 0;
    margin: 0;
}
.img:nth-child(1){
    width:45%;
}
.img:nth-child(2){
    width:39%;
}
.social-icons .fa{
    color: #a7a6a6;
    margin-left:35px;
    font-size: 20px;
    margin-top: 12px;
}

.copyrights {
    width: 100%;
    background-color: black;
/*    padding: 5px;*/
}
.copyrights p{
    padding:10px;
    color: grey;
}
.input-group{
    margin-top:10px;
    margin-bottom: 0;
}
.input-group-text {
    background-color: orange !important;
}
